<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>
<form {{# if edit }} action="/admin/edit-product/{{product._id}}" {{ else }} action="/admin/create-product" {{/if}} method="post" class="row col-md-8">
    <div class="form-group">
        <label for="title"> Назва </label>
        <input id="title" name="title" type="text" class="form-control" aria-describedby="basic-addon1" {{# if edit }}value="{{product.title}}"{{/if}}>
    </div>

    <div class="form-group">
        <label for="imagePath"> Url картинки </label>
        <input type="text" id="imagePath" name="imagePath" class="form-control" aria-describedby="basic-addon1" {{# if edit }}value="{{product.imagePath}}"{{/if}}>
    </div>

    <div class="form-group">
        <label for="description">Опис:</label>
        <textarea class="form-control" rows="5" id="description" name="description">{{# if edit }}{{product.description}}{{/if}}</textarea>
    </div>

    <div class="form-group">
        <label for="price"> Ціна </label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">&#8372;</span>
            <input name="price" id="price" type="number" class="form-control" aria-describedby="basic-addon1" {{# if edit }}value="{{product.price}}"{{/if}}>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Зберегти</button>
    </div>


</form>

