<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>

<table class="table">
    <thead>
    <tr class="row">
        <th class="col-md-2">Назва</th>
        <th class="col-md-3">Картинка</th>
        <th class="col-md-4">Опис</th>
        <th class="col-md-1">Ціна</th>
        <th class="col-md-2"><a href="/admin/create-product/{{this._id}}"><i class="fa fa-plus" aria-hidden="true"></i>Додати</a>
        </th>
    </tr>
    </thead>
    <tbody>
    {{# each products }}
        <tr class="row">
            <td class="col-md-2">{{ this.title }}</td>
            <td class="col-md-3 overme">{{ this.imagePath }}</td>
            <td class="col-md-4 overme">{{ this.description }}</td>
            <td class="col-md-1">&#8372;{{ this.price }}</td>
            <td class="col-md-2 text-nowrap">
                <a href="/admin/edit-product/{{this._id}}">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Редагувати
                </a>
                <br>
                <a href="/admin/delete-product/{{this._id}}"><i class="fa fa-times" aria-hidden="true"></i> Видалити
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>